<article>
  <div class="components components--computed">
    {% embed "@hdbt/misc/component.twig" with
      {
        component_classes: [
        'component--full-width',
        'component--react-search',
        ],
        component_description: 'Find wellbeing services in Helsinki near you by entering your address, entering a search term, or selecting one of the themes.'|trans({}, {'context': 'Hyte search'}),
        component_title: 'Filter search results'|trans({}, {'context': 'Hyte search'}),
        component_title_level: 'h2',
      }
    %}
      {% block component_content %}
        {{ search_element|render }}
      {% endblock component_content %}
    {% endembed %}
  </div>
</article>
